<extend name="Public/base" />
<block name="body">
    <div class="main_option">
        <ul>
            <!--             <li class="batch" data-href="{:U('dealed')}">确认处理</li>
            <li class="batch" data-href="{:U('dealing')}">恢复处理</li>
            <li class="batch" data-href="{:U('delete')}">删除</li> -->
            <eq name="back" value="1">
                <li class="back" onclick="javascript:;window.history.back()">返回</li>
            </eq>
        </ul>
        <div class="search">
            <input type="text" name="username" class="search-input" value="{:I('username')}" placeholder="请输入用户姓名">
            <button id="search" data-href="{:U('park')}" data-name="username">搜索</button>
        </div>
    </div>
    <div class="content_list">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="check-all">序号</th>
                    <th>用户姓名</th>
                    <th>手机号</th>
                    <th>车位号</th>
                    <th>车位费</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <notempty name="parklists">
                    <volist name="parklists" id="vo" key="i">
                        <if condition="$i%2 eq 0">
                            <tr>
                                <else/>
                                <tr class="addback">
                        </if>
                        <td>
                            <input class="ids" type="checkbox" name="id[]" value="{$vo.id}">{$i}</td>
                        <td>{$vo.username}</td>
                        <td>{$vo.tel}</td>
                        <td>{$vo.num}</td>
                        <td>
                            <eq name="vo.status" value="1">个人车位,无需付费
                                <elseif condition="$vo.feestatus eq 0" />
                                <b style="color: red;">{$vo.fee}￥　待缴纳</b>
                                <else/><b style="color: green;">完成缴费</b>
                            </eq>
                        </td>
                        <td>
                            <span class="edit_option" data-href="{:U('parkdetail?id='.$vo['id'])}" data-title="缴费详情">缴费详情</span>
                        </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="9" class="list_notice">列表空空如也！</td>
                </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script type="text/javascript">
    $(".fee_nav").attr("class", "active")
    layui.use('layer', function() {
        var lauer = layui.layer;
        $("#add").click(function() {
            layer.open({
                type: 2,
                title: '添加管理员',
                shadeClose: true,
                shade: [0.5, '#393D49'],
                maxmin: false, //开启最大化最小化按钮
                area: ['550px', '600px'],
                // content: '{:U("add")}'
                content: '{:U("adminadd")}'
            });
        })
    })
    </script>
</block>