<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{$meta_title}</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home.css">
    <script type="text/javascript" src="__PUBLIC__/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
    <block name="style"></block>
</head>

<body>
    <!-- 内容区 -->
    <div class="content content_box">
       <!--  <h3 class="header_tip"><img onclick="javascript:;window.history.go(-1)" src="__PUBLIC__/images/back.png"><span>{$meta_title}</span><img src="__PUBLIC__/images/la.png"></h3> -->
        <div class="cont_group">
            <div style="box-sizing: border-box;border-bottom: 1px solid #e6e6e6">
                <img onclick="javascript:;window.location.href='/'" src="__PUBLIC__/images/first_page.png">
            </div>
             <div>
                <img onclick="javascript:;window.history.go(-1)" src="__PUBLIC__/images/go_back.png">
            </div>
        </div>
        <block name="body"></block>
        
    </div>
    <div class="nav_bot">
        <ul>
            <li onclick="javascript:;window.location.href='{:U(index)}'" class="h"><img src="__PUBLIC__/images/h.png"><p>首页</p></li>
            <li onclick="javascript:;window.location.href='{:U(complaint)}'" class="c"><img src="__PUBLIC__/images/c.png"><p>我的投诉</p></li>
            <li onclick="javascript:;window.location.href='{:U(msg)}'" class="m"><img src="__PUBLIC__/images/m.png"><p>消息通知</p></li>
            <li onclick="javascript:;window.location.href='{:U(device)}'" class="f"><img src="__PUBLIC__/images/f.png"><p>设备报修</p></li>
            <li onclick="javascript:;window.location.href='{:U(my)}'" class="myself"><img src="__PUBLIC__/images/myself.png"><p>个人中心</p></li>
        </ul>
    </div>
    <block name="script"></block>
</body>
<script type="text/javascript">

    $(".header_tip").hide();
    var option = "{$option}";
    var device = layui.device();
    console.log(option)
    console.log(device)
    if (device.android&&option!="index"&&option!="complaint"&&option!="msg"&&option!="device"&&option!="my") {
        $(".cont_group").show();
    }

    if (option!="index"&&option!="complaint"&&option!="msg"&&option!="device"&&option!="my") {
        $(".nav_bot").hide();
    }else{
        $(".content_box").css("height",$(window).height()-70)
    }

    switch (option) {
        case "index":
            $(".h img").attr("src","__PUBLIC__/images/s-h.png");
            $(".h p").css("color","#d4237a");
            break;
        case "complaint":
            $(".c img").attr("src","__PUBLIC__/images/s-c.png");
            $(".c p").css("color","#d4237a");
            break;
        case "msg":
            $(".m img").attr("src","__PUBLIC__/images/s-m.png");
            $(".m p").css("color","#d4237a");
            break;
        case "device":
            $(".f img").attr("src","__PUBLIC__/images/s-f.png");
            $(".f p").css("color","#d4237a");
            break;
        case "my":
            $(".myself img").attr("src","__PUBLIC__/images/s-myself.png");
            $(".myself p").css("color","#d4237a");
            break;
        default:
            $(".h img").attr("src","__PUBLIC__/images/s-h.png");
            $(".h p").css("color","#d4237a");
            break;
    }

</script>

</html>