<extend name="Public/base" />
<block name="body">
    <div class="main_option">
        <ul>
            <li id="add">新增</li>
            <li class="batch" data-href="{:U('announcedel')}">删除</li>
            <li class="batch" data-href="{:U('announcehide')}">隐藏</li>
            <li class="batch" data-href="{:U('announceshow')}">显示</li>
            <eq name="back" value="1">
                <li class="back" onclick="javascript:;window.history.back()">返回</li>
            </eq>
        </ul>
    </div>
    <div class="content_list">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="check-all">序号</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>创建时间</th>
                    <th>上次修改时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <notempty name="announcelists">
                    <volist name="announcelists" id="vo" key="i">
                        <if condition="$i%2 eq 0">
                            <tr>
                                <else/>
                                <tr class="addback">
                        </if>
                        <td>
                            <input class="ids" type="checkbox" name="id[]" value="{$vo.id}">{$i}</td>
                        
                        <td>{$vo.title}</td>                     
                        <td  class="view_content" data-content="{$vo.content}" data-title="通知内容">{$vo.content|strdeal}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.update_time}</td>
                        <td><eq name="vo.status" value="0"><b style="color: red;">隐藏</b><else/><b style="color: green;">显示</b></eq></td>
                        <td>
                            <eq name="vo.status" value="0">
                                <a href="__URL__/announceshow/id/{$vo.id}" class="confirm ajax-get">显示</a>
                                <else/>
                                <a href="__URL__/announcehide/id/{$vo.id}" class="confirm ajax-get">隐藏</a>
                            </eq>
                            <span class="edit_option" data-href="{:U('announceedit?id='.$vo['id'])}" data-title="编辑通知">编辑</span>
                            <a href="__URL__/announcedel/id/{$vo.id}" class="confirm ajax-get">删除</a>
                        </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="9" class="list_notice">列表空空如也！</td>
                </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
            {$_page}
        </div>
</block>
<block name="script">
    <script type="text/javascript">
    $(".system_nav").attr("class", "active")
    layui.use('layer', function() {
        var lauer = layui.layer;
        $("#add").click(function() {
            layer.open({
                type: 2,
                title: '添加通知',
                shadeClose: true,
                shade: [0.5, '#393D49'],
                maxmin: false, //开启最大化最小化按钮
                area: ['550px', '600px'],
                // content: '{:U("add")}'
                content: '{:U("announceadd")}'
            });
        })
    })
    </script>
</block>