<extend name="Public/base" />
<block name="body">
    <div class="main_option">
        <ul>
            <li onclick="javascript:;window.location.href='__URL__/addnews'">添加新闻</li>
            <li class="batch" data-href="{:U('shownews')}">显示</li>
            <li class="batch" data-href="{:U('hidenews')}">隐藏</li>
            <li class="batch" data-href="{:U('delnews')}">删除</li>
            <eq name="back" value="1">
                <li class="back" onclick="javascript:;window.history.back()">返回</li>
            </eq>
        </ul>
        <div class="search">
            <input type="text" name="username" class="search-input" value="{:I('username')}" placeholder="请输入用户姓名">
            <button id="search" data-href="{:U('index')}" data-name="username">搜索</button>
        </div>
    </div>
    <div class="content_list">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="check-all">序号</th>
                    <th>新闻标题</th>
                    <th>作者</th>
                    <th>添加时间</th>
                    <th>上次修改时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <notempty name="newslist">
                    <volist name="newslist" id="vo" key="i">
                        <if condition="$i%2 eq 0">
                            <tr>
                                <else/>
                                <tr class="addback">
                        </if>
                        <td>
                            <input class="ids" type="checkbox" name="id[]" value="{$vo.id}">{$i}</td>               
                        <td>{$vo.title}</td>
                        <td><empty name="vo.author">
                            迭名
                            <else/>
                            {$vo.author}
                        </empty></td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.update_time}</td>
                        <td><eq name="vo.status" value="1"><b style="color: green;">显示</b>
                                    <else/><b style="color: red;">隐藏</b></eq></td>
                        <td>
                            <eq name="vo.status" value="0">
                                <a href="__URL__/shownews/id/{$vo.id}" class="confirm ajax-get">显示</a>
                                <else/>
                                <a href="__URL__/hidenews/id/{$vo.id}" class="confirm ajax-get">隐藏</a>
                            </eq>
                            <a href="__URL__/editnews/id/{$vo.id}">编辑</a>
                            <a href="__URL__/delnews/id/{$vo.id}" class="confirm ajax-get">删除</a>
                        </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="9" class="list_notice">列表空空如也！</td>
                </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(".system_nav").attr("class", "active")
        layui.use(['layer','form'] ,function() {
            var layer = layui.layer;
            var form = layui.form;
        })
    </script>
</block>